# Node modules directory
/node_modules/

# Environment variable file (contains sensitive information)
/.env

# Webpack build output
/open/bundle.js

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE or editor specific files
.vscode/
.idea/
